
div{
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    display: inline-block;

}



.ChangeThing {
    background-image: url("X.png");
    object-fit: fill;
    background-repeat: no-repeat;
}

.Addpic{
    background-image: url("X.png");
}